body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family:'Roboto','Times New Roman', Times, serif;
    padding:0;
    margin:0;
}

.bluecontainer{
    display: flex;
    width: 100%;
    background-color: #1f2937;
    justify-content: center;
    gap:50px;
    color:#E5E7EB
}

button{
    background-color: #3882F6;
    color:#E5E7EB;
    border:1px #3882F6;
    border-radius: 5px;
    padding:4px 22px;

}

/*Header*/

.header{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    align-items: flex-start;   
    gap:100px;
}

.firstcontent{
    color:#E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 165px;
    margin-bottom:100px;
}

.logo,
ul{
    color:#E5E7EB;
    margin:0;
    padding:0;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

ul{
    font-size:18px;
    list-style: none;
    display: flex;
    gap:16px;
}





.firstcontenttext{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;
    flex-wrap: wrap;
    justify-content: center;
}

.firstcontenttext button {
    align-self: flex-start;
}

.firstimg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 500px;
    height: 200px;
}

.firstcontent h1{
    margin: 8px 0px;
    font-size: 48px;
}

.firstcontent p{
    margin: 8px 0px;
}

/* Second Content */

.secondcontent{

    color:#1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:24px;
}

.secondcontent h1 {
    margin-top:50px;
}

.rowimg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:36px;
    margin-bottom: 90px;
}

.imgplaceholder{
    width: 120px;
    height: 120px;
    border:3px solid #3882F6;
    border-radius: 7px;
}

.rowimg div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.rowimg div p{
    width: 130px;
    text-align: center;
}

/* Third Content */

.thirdcontent{
    display: flex;
    background-color: #E5E7EB;
    font-size: 26px;
    color:#1f2937c4;
    font-style:italic ;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
   
}

.thirdcontent div{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    gap:20px;
}

.thirdcontent div p {
    margin:0;
}



.signature{
    align-self: flex-end;
    font-size: 16px;
    color:#1f2937;
    font-weight: bold;
    font-style: normal;
}

/* Forth content */

.forthspace{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    margin-bottom: 100px;
}

.forthcontentcontainer{
    width: 700px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px;
    background-color:#3882F6;
    color:#E5E7EB;
    border: 2px solid #3882F6;
    border-radius: 5px;
    gap: 100px;
    flex-wrap: wrap;
}

.forthcontentcontainer button {
    border: 1px solid #E5E7EB;
}

.calltoaction{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 400px;

    
}

.calltoaction p{
    margin:0;
}

.title{
    font-size: 18px;
    font-weight: bold;
}

/*footer*/

.footer{
    display: flex;
    background-color: #1f2937;
    color: #E5E7EB;
    width:100%;
    justify-content: center;
    align-items: center;
}